<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<add key="matt-edmondson" value="https://nuget.pkg.github.com/matt-edmondson/index.json" />
	</packageSources>
</configuration>